{% extends "master.html" %}
{% block title %}Classification results{% endblock %}

{% block content %}
    <hr />
    <h4 class="text-center">Classification result for message: "<i>{{query}}</i>"</h4>
    <ul class="list-group">
        {% for category, classification in classification_result.items() %}
            {% if classification == 1 %}
                <li class="list-group-item list-group-item-success text-center">{{category.replace('_', ' ').title()}}</li>
            {% else %}
                <li class="list-group-item list-group-item-dark text-center">{{category.replace('_', ' ').title()}}</li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
